:root {
  --purple: #682ae9;
  --white: #dbdbdb;
  --title: 3rem;
  --padding-title: 0 3rem;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

li {
  text-decoration: none;
}

body {
  font-family: "Roboto Mono", monospace;
  color: var(--white);
}

.title {
  padding: 3rem 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/*+______Header______*/
.header {
  padding-top: 20px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--purple);
}

.header__nav > ul {
  display: flex;
  justify-content: space-between;
  float: left;
}

.header__nav > ul > li {
  margin-left: 1rem;
}

.link {
  color: var(--white);
  height: 2rem;
  display: flex;
  align-items: center;
  transition: color 0.4s ease-out;
  line-height: 1;
}
.link__social {
  height: 2rem;
  display: flex;
  align-items: center;
  transition: color 0.4s ease-out;
  line-height: 1;
}
.link:hover {
  color: var(--purple);
}

.link__social:hover {
  color: var(--white);
}

/* MAIN */

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: black;
}
.main__inner {
  max-width: 800px;
  margin: 0 auto;
}

.main__title {
  font-size: 3rem;
  padding-bottom: 1px;
}

.purpe__span {
  color: var(--purple);
}
.main__text {
  font-size: 1.5rem;
  padding-bottom: 55px;
}

.main__btn {
  background-color: transparent;
  border: 3px solid var(--purple);
  padding: 10px 40px;
  border-radius: 30px;
  color: var(--white);
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.main__btn:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-radius: 30px;
  height: 100%;
  z-index: -2;
}
.main__btn:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 30px;
  width: 0%;
  height: 100%;
  background-color: var(--purple);
  transition: all 0.3s;

  z-index: -1;
}

.main__btn:hover:before {
  width: 100%;
}

/* PRoject */

.project {
  height: 100vh;
  background-color: black;
}

.project__title {
  font-size: 3rem;
  padding-top: 30px;
}
