
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

li {
  text-decoration: none;
}
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background: #000;
}
::-webkit-scrollbar-thumb {
  background: #662ae980;
  border-radius: 20px;
}




.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}